
.textstyle {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;

}

.vid {
    background-color: lavender;
    padding: 1em;
    flex: 1 0 45%;
}

#nameImage {
    background-image: url("handpaw.jpg");
    background-size: cover;
    background-position: center;
    padding: 5.5rem;
    color: lavender;
    font-size: 5em;
    /* -webkit-text-stroke: 0.25m black; */
}

#introBlurb {
    padding: 3em;
    margin: 2rem auto;
    max-width: 60%;
}

#media {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr; */
    gap: 0.5em;
}


img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#nameImage {
    margin: 0;
}

section {
    margin: 10rem 0rem;
}

#team {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr; */
    gap: 0.5em;
}

ul { 
    display: inline-block; 
    text-align: left; 
}

a {
    margin: 2rem 3.5rem;
}
