
/* https://plus.unsplash.com/premium_photo-1661503285736-9dec3c8280f7?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
 https://images.unsplash.com/photo-1415369629372-26f2fe60c467?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
 */
.textstyle {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;

}

.vid {
    background-color: aquamarine;
    padding: 1em;
}

#nameImage {
    background-color: antiquewhite;
    padding: 5em;
}

#introBlurb {
    padding: 3em;
    margin: 1em auto;
    max-width: 60%;
}

#media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}
